.desc {
	@apply text-sm text-gray-700 dark:text-gray-300;
}

.chip {
	@apply p-0.5 rounded text-[12px] font-bold dark:text-black text-white;
}

.chip.on-going {
	@apply bg-green-500 dark:bg-green-800;
}

.chip.ended {
	@apply bg-red-500 dark:bg-red-800;
}
