@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white dark:bg-primary-dark text-black dark:text-white;
}

.menu {
	@apply bg-primary-light dark:bg-primary-dark border-b border-b-gray-300 dark:border-b-gray-700 text-black dark:text-white;
}

input {
	@apply text-black outline-none;
}

button {
	@apply active:scale-90 transition-[transform] duration-500;
}

a {
	@apply active:scale-90 transition-[transform] duration-500;
}

a > * {
	@apply active:scale-90 transition-[transform] duration-500;
}

a.active {
	@apply bg-sky-500 text-black;
}

.button {
	@apply px-4 py-1 rounded text-white;
}

.error {
	@apply bg-red-800/90 border-2 border-red-500 text-sm font-semibold p-2 rounded-md self-start my-2 text-white;
}

.success {
	@apply bg-green-700/90 border-2 border-green-500 text-sm font-semibold p-2 rounded-md self-start my-2 text-white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

table {
	@apply w-full;
}

th,
td {
	@apply p-[0.75rem] text-left text-sm;
}

th {
	@apply bg-[#b1b1b1] dark:bg-[#333] text-gray-800 dark:text-white border-none;
}

tr:nth-child(even) {
	@apply bg-[#b1b1b1] dark:bg-[#2c2c2a];
}

tr:nth-child(odd) {
	@apply bg-secondary-light dark:bg-[#1c1c1c];
}

.chip {
	@apply p-0.5 rounded text-[12px] font-bold text-black dark:text-white;
}

.chip.success,
.chip.on-going {
	@apply bg-green-500 dark:bg-green-800;
}

.chip.ended,
.chip.fail {
	@apply bg-red-500 dark:bg-red-800;
}

.chip.pending,
.chip.done {
	@apply dark:bg-orange-900 bg-orange-500;
}

dialog {
	@apply bg-white dark:bg-primary-dark text-black dark:text-white p-4 border rounded;
}
