@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white dark:bg-primary-dark text-black dark:text-white;
}

.menu {
	@apply bg-primary-light dark:bg-primary-dark border-b border-b-gray-300 dark:border-b-gray-700 text-black dark:text-white;
}

input {
	@apply text-black outline-none;
}

button {
	@apply active:scale-90 transition-[transform] duration-500;
}

a {
	@apply active:scale-90 transition-[transform] duration-500;
}

a > * {
	@apply active:scale-90 transition-[transform] duration-500;
}

a.active {
	@apply bg-sky-500 text-black;
}

.button {
	@apply px-4 py-1 rounded text-white;
}

.error {
	background: rgba(141, 25, 25, 0.877);
	border: 2px solid red;
	padding: 0.5rem;
	border-radius: 0.1rem;
}
