@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white dark:bg-primary-dark text-black dark:text-white;
}

.menu {
	@apply bg-primary-light dark:bg-primary-dark border-b border-b-gray-300 dark:border-b-gray-700 text-black dark:text-white;
}

input {
	@apply text-black outline-none;
}

button {
	@apply active:scale-90 transition-[transform] duration-500;
}

a {
	@apply active:scale-90 transition-[transform] duration-500;
}

a > * {
	@apply active:scale-90 transition-[transform] duration-500;
}

a.active {
	@apply bg-sky-500 text-black;
}

.button {
	@apply px-4 py-1 rounded text-white;
}

.error {
	@apply bg-red-800/90 border-2 border-red-500 text-sm font-semibold p-2 rounded-md self-start my-2 text-white;
}

.success {
	@apply bg-green-700/90 border-2 border-green-500 text-sm font-semibold p-2 rounded-md self-start my-2 text-white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
